@model Store.WebUI.Models.GamesListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Games)
{
    @Html.Partial("GameSummary", p)
}


<div class="btn-group pull-right">
    @MyHelpers.PageLinks(Html, Model.PagingInfo, Model.CurrentCategory)
</div>